<!DOCTYPE html>
<html>
  <head>
    <title>Pigal</title>
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/pigal.css" />
    <script type="text/javascript" language="javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" language="javascript" src="/javascripts/jquery.cycle.lite.js"></script>
    <script type="text/javascript" language="javascript">
      var encoded_source_urls = '<%= @encoded_source_urls %>';
    </script>
    <script type="text/javascript" language="javascript" src="/javascripts/pigal.js"></script>
  </head>

  <body>
    <div id="image_container">
    </div>
  </body>
</html>
